/*---------------------------
Setting COLOR with CSS Variables
---------------------------

Some things to consider about colors:

1. Primary color, primary color variations.
2. (optional) Secondary color, secondary color variations.
3. Text colors, Text color variations, other (please specify).
4. Info colors
  - success: green
  - failure: red
  - warning: orange
  - info: blue, etc.

If there are in use, include them. Otherwise, vice verssa.
*/

:root {
  /* Primary Colors - brightest to darkest variations */
  --primary-color-05: red;
  --primary-color-10: red; /* Hint MAIN Primary Color */
  --primary-color-20: red;
  --primary-color-30: red;
  --primary-color-40: red;
  --primary-color-50: red;
  --primary-color-60: red;
  --primary-color-70: red;
  --primary-color-80: red;
  --primary-color-90: red;

  /* Secondary Colors - brightest to darkest variations */
  --secondary-color-05: red;
  --secondary-color-10: red; /* Hint MAIN Secondary Color */
  --secondary-color-20: red;
  --secondary-color-30: red;
  --secondary-color-40: red;
  --secondary-color-50: red;
  --secondary-color-60: red;
  --secondary-color-70: red;
  --secondary-color-80: red;
  --secondary-color-90: red;

  /* Text Colors - brightest to darkest variations */
  --text-color-05: red;
  --text-color-10: red; /* Hint MAIN Text Color */
  --text-color-20: red;
  --text-color-30: red;
  --text-color-40: red;
  --text-color-50: red;
  --text-color-60: red;
  --text-color-70: red;
  --text-color-80: red;
  --text-color-90: red;

  /* Special Text Colors */
  /* Links */
  --text-link-color-inactive: red;
  --text-link-color-active: red;

  /* other (please specify, if there's more) */

  /* Info Color */
  /* success */
  --success-color: red;
  /* failure */
  --failure-color: red;
  /* warning */
  --warning-color: red;
  /* info */
  --info-color: red;

  /* Dark Theme anyone? -> Put in another file */
}
