/*---------------------------
Setting SPACE with CSS Variables
---------------------------

Specifically designed for Blog / Info Sites

Spatial system:

Constraints:
Use margins-left for type inside an element in which you wish for it to be left-aligned.

h1
-margin-top
-margin-bottom

1.

*/

:root {
  /* space-unit-1 = font base * line height ratio = line-height */
  --space-unit-1: 1;
  --space-unit-2: 1;
  --space-unit-3: 1;
  --space-unit-4: 1;
  --space-unit-5: 1;
}
